requests
packaging

nicegui~=3.7.1
matplotlib
pillow
pandas
httpx
typing_extensions
rich
numpy
PyYAML
platformdirs
scipy
plotly
openpyxl
latex2mathml

# tray icon (Windows)
pystray
pywin32; platform_system=='Windows'
